.bottom-bar {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: stretch;
  /* This will stretch the middle content to take up available space *
  /* Adjust this value to control distance from the left edge */

  height: 9dvh;
  width: 100%;
  background-color: #ffffff;
  box-shadow: inset 0 1px 0 0 #ebebeb;
  /* bottom: -$topbarHeight * 2 + 20px; */
  bottom: 7dvh;
  font-size: 3dvh;
}

.center-cell-container {
  grid-column: 2;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  height: 100%;
  width: 70%;
}

.ez-progress-button {
  height: 5dvw;
  width: 8dvw;
  display: flex;
  align-items: center;
}

.left-cell {
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.recording {
  background-color: red !important;
  opacity: 1;
  cursor: default !important;
}

.counter {
  position: absolute;
  left: 50%;
  top: -80px;
  display: flex;
  gap: 10px;
  transform: translateX(-50%);
}

.count {
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  color: white;
  background-color: rgb(177, 177, 177);
  text-align: center;
  font-size: 40px;
  line-height: 60px;
}

.selected {
  background-color: gray;
}

.video-container {
  position: absolute;
  left: 50%;
  top: -120px;
  transform: translateX(-50%);
  display:block;

}

.hide{
  display: none;
}