

/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    font-family: var(--font-family);
}
:root {
  --primary-color: #00a8ff;
  --font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
button {
  border: none;
  margin: none;
  padding: none;
  background-color: transparent;
}
